<section class="hero is-dark is-small">
  <div class="hero-body has-text-centered">
    <div>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="title">DESPRE NOI</p>
            <progress class="progress is-info is-small" value=0 max="100"></progress>
            <p class="heading"><a routerLink="/about-us">DESPRE SKIFY</a></p>
            <p class="heading"><a routerLink="/contact">CONTACT</a></p>
            <p class="heading"><a>TERMENI SI CONDITII</a></p>
            <p class="heading"><a>POLITICA DE CONFIDENTIALITATE</a></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="title">DETALII CONTACT</p>
            <progress class="progress is-info is-small" value=0 max="100"></progress>
            <p class="heading">TELEFON: 0777 777 777</p>
            <p class="heading">EMAIL: CONTACT@SKIFY.RO</p>
            <p class="heading">ADRESA: STRADA TELECABINEI 1</p>
            <p class="heading">SINAIA, PRAHOVA, ROMANIA</p>
          </div>
        </div>
      </nav>
    </div>
    <div class="tabs is-toggle is-centered is-small">
      <ul>
        <li>
          <a href="https://www.facebook.com/radu.cretu.09">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
              focusable="false" width="2.2em" height="2.2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
              <g fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M0 12.067C0 18.033 4.333 22.994 10 24v-8.667H7V12h3V9.333c0-3 1.933-4.666 4.667-4.666c.866 0 1.8.133 2.666.266V8H15.8c-1.467 0-1.8.733-1.8 1.667V12h3.2l-.533 3.333H14V24c5.667-1.006 10-5.966 10-11.933C24 5.43 18.6 0 12 0S0 5.43 0 12.067z"
                  fill="#FFFFFF" />
              </g>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/raducretu_/">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
              focusable="false" width="3em" height="3em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
              <path
                d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3z"
                fill="#FFFFFF" />
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCGfaWPYDHhJTjXnFnt6CjCQ">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
              focusable="false" width="2.2em" height="2.2em"
              preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
              <g fill="none">
                <g clip-path="url(#IconifyId-17974f5501f-8b9e74-3)">
                  <path
                    d="M23.5 6.507a2.786 2.786 0 0 0-.766-1.27a3.05 3.05 0 0 0-1.338-.742C19.518 4 11.994 4 11.994 4a76.624 76.624 0 0 0-9.39.47a3.16 3.16 0 0 0-1.338.76c-.37.356-.638.795-.778 1.276A29.09 29.09 0 0 0 0 12c-.012 1.841.151 3.68.488 5.494c.137.479.404.916.775 1.269c.371.353.833.608 1.341.743c1.903.494 9.39.494 9.39.494a76.8 76.8 0 0 0 9.402-.47a3.05 3.05 0 0 0 1.338-.742c.37-.353.633-.792.765-1.27A28.38 28.38 0 0 0 24 12.023a26.579 26.579 0 0 0-.5-5.517zM9.602 15.424V8.577l6.26 3.424l-6.26 3.423z"
                    fill="#FFFFFF" />
                </g>
                <defs>
                  <clipPath id="IconifyId-17974f5501f-8b9e74-3">
                    <path fill="#fff" d="M0 0h24v24H0z" />
                  </clipPath>
                </defs>
              </g>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <p>
        <strong>Skify</strong> by Cretu Radu.
      </p>
      <p>
        Copyright © 2021, Cretu Radu. All Rights Reserved.
      </p>
      <p>
        Protectia consumatorului A.N.P.C. Telefonul Consumatorului: 0800 080 999
      </p>
    </div>
  </div>
</section>