<section class="hero is-link is-small">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" routerLink="">
              <img src="assets/header.png" alt="Logo">
            </a>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div style="margin-left: 800px;" class="navbar-end">
                <button class="button is-link buttonStyle" routerLink="/about-us">Despre noi</button>
                <button class="button is-link buttonStyle" routerLink="/contact">Contacteaza-ne</button>
              <span class="navbar-item">
                <button class="button is-link is-inverted" routerLink="/shopping-cart">
                  <mat-icon>shopping_cart</mat-icon>
                  <span>Cos de cumparaturi</span>
                  <span style="margin-left:5px" *ngIf="count!=0"> - ({{count}})</span>
                </button>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          <img class="logoImg" src="assets/logo.png" alt="Logo">
        </p>
      </div>
    </div>
</section>
  