<app-header></app-header>
<section class="section is-medium has-text-left">
    <h1 class="title is-size-2 has-text-weight-bold">CONTACT</h1>
    <progress class="progress is-link is-small" value=100 max="100"></progress>
    <div>
        <div class="field width">
            <label class="label">Nume si prenume</label>
            <div class="control">
            <input class="input is-info" [(ngModel)]="contactName" type="text" placeholder="John Doe" required>
            </div>
        </div>
        <div class="field width">
            <label class="label">Adresa de email</label>
            <div class="control">
            <input #email="ngModel" name="email" class="input is-info" [(ngModel)]="contactEmail" type="email" placeholder="yourmail@gmail.com" required email>
            <div *ngIf="email.errors && (email.dirty || email.touched)">
                <p style="color:red" *ngIf="email.errors.required">Email is required!</p>
                <p style="color:red" *ngIf="email.errors.email">Email is not valid!</p>
            </div>
            </div>
        </div>
        <div class="field width">
            <label class="label">Telefon</label>
            <div class="control">
            <input class="input is-info" (keypress)="numericOnly($event)" [(ngModel)]="contactPhoneNumber" type="text" placeholder="+40 7XX XXX XXX" required>
            </div>
        </div>
        <div class="field width">
            <label class="label">Subiect</label>
            <div class="control">
            <input class="input is-info" [(ngModel)]="contactSubject" type="text" placeholder="Probleme echipament" required>
            </div>
        </div>
        <div class="field width">
            <label class="label">Mesaj</label>
            <div class="control">
            <textarea class="textarea is-info" [(ngModel)]="contactMessage" placeholder="Mesajul tau" required></textarea>
            </div>
        </div>
        <br/>
        <h2 class="title has-text-weight-bold color">
            Ce vom face cu datele personale?
        </h2>
        <h3 class = "width">
            Iti solicitam datele de mai sus pentru a te putea contacta si raspunde la mesajul tau. Prin apasarea butonului de "Trimite mesaj" confirmi ca ai citit si ca esti de acord cu Termenele si Conditiile si cu Politica de confidentialitate.
        </h3>
        <button class="button is-link is-medium"
                [disabled]="!contactName || !contactEmail || !contactPhoneNumber || !contactMessage || !contactSubject"
                onclick="document.getElementById('popUp').style.display='block'" 
                (click)="addMessage(contactName, contactEmail, contactPhoneNumber, contactSubject, contactMessage)"
                >Trimite mesaj</button>
    </div>

    <div class="map">
        <h1 class="title has-text-weight-bold color">
            SKIFY Sinaia
        </h1>
        <h2>Adresa: Strada Telecabinei, Sinaia 106100</h2>
        <h2>Telefon: 0777 777 777</h2>
        <h2>Program: Zilnic --- 8:00-20:00</h2>
        <br/>
        <br/>
        <h1 class="title has-text-weight-bold color">
            HARTA
        </h1>
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </div>
</section>
<app-footer></app-footer>

<div id="popUp" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title"></p>
        <button class="delete" aria-label="close" routerLink=""></button>
      </header>
      <section class="modal-card-body">
        <p class="title">Mesajul a fost trimis cu succes!</p>
        <br/>
        <p class="subtitle">Multumim pentru feedback-ul trimis!</p>
        <p class="subtitle">O sa incercam sa raspundem in cel mai scurt timp posibil!</p>
      </section>
      <footer class="modal-card-foot">
      </footer>
    </div>
</div>

