.productTitle {
  color: gray;
  font-family: "Oxygen";
  font-weight: bold;
  font-size: 25px;
}

.productSubtitle {
  color: black;
  font-family: "Oxygen";
  font-weight: bold;
  font-size: 20px;
}
