<app-header></app-header>

<section class="hero is-danger is-small">
  <div class="hero-body">
    <p class="title has-text-centered">
      NOTA CU TITLU INFORMATIV
    </p>
    <br>
    <p class="subtitle">
      Plata se poate face doar online, prin diversele modalitati de plata, ca sa putem evita situatia neplacuta de a pierde timp pentru pregatirea unei comenzi in cazul in care clientul nu o sa fie prezent la centru in ziua inchirierii.
    </p>
    <p class="subtitle">Ne asumam retinerea unui act de identitate in momentul in care echipamentul este ridicat. Acesta va fi predat ulterior la predarea echipamentului.</p>
    <p class="subtitle">Echipamentul este verificat in momentul predarii iar in cazul in care un client produce diverse daune, acestea vor fi platite in ziua respectiva. (pretul in functie de paguba produsa) </p>
  </div>
</section>
<section class="hero is-medium">
    <div class="hero-body">
        <h1 class="title is-size-2 has-text-weight-bold">COS DE CUMPARATURI</h1>
        <progress class="progress is-link is-small" value=100 max="100"></progress>
        <article *ngFor="let product of products; let i = index" class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img [src]="product.image">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="productTitle">
                  {{product.productName | uppercase}}
                </p>
                <p class="productSubtitle">{{product.price}} RON / Zi </p>
              </div>
            </div>
            <div class="media-right">
              <button class="delete" (click)="deleteProduct(product.id); removeOnFront(i)"></button>
            </div>
        </article>
        <h1 *ngIf="products?.length == 0" class="productSubtitle is-size-2 has-text-weight-bold">Cosul de cumparaturi este gol!</h1>
        <div *ngIf="products?.length > 0">
          <br>
          <progress style="height: 5px;" class="progress is-black is-small" value=100 max="100"></progress>
          <h1 style="margin-left: 5px;"  class="productSubtitle is-size-3 has-text-weight-bold">Total de plata : {{getTotalPricePerDay()}} RON / Zi</h1>
          <br>
          <br>
          <section class="hero is-warning is-small has-text-centered">
            <p style="margin-top: 10px;" class="title">
              Inchiriaza pe o perioada de minim 4 zile si profita de un discount de 20%!
            </p>
          </section>
          <br>
          <br>
        <div class="field width">
            <label class="label">Nume</label>
            <div class="control">
            <input class="input is-info" [(ngModel)]="orderName" type="text" placeholder="John" required>
            </div>
        </div>
        <div class="field width">
          <label class="label">Prenume</label>
          <div class="control">
          <input class="input is-info" [(ngModel)]="orderSurname" type="text" placeholder="Doe" required>
          </div>
        </div>
        <div class="field width">
            <label class="label">Adresa de email</label>
            <div class="control">
            <input #email="ngModel" name="email" class="input is-info" [(ngModel)]="orderEmail" type="email" placeholder="yourmail@gmail.com" required email>
            <div *ngIf="email.errors && (email.dirty || email.touched)">
              <p style="color:red" *ngIf="email.errors.required">Email is required!</p>
              <p style="color:red" *ngIf="email.errors.email">Email is not valid!</p>
            </div>
            </div>
        </div>
        <div class="field width">
            <label class="label">Telefon</label>
            <div class="control">
            <input class="input is-info" (keypress)="numericOnly($event)" [(ngModel)]="orderPhoneNumber" type="text" placeholder="+40 7XX XXX XXX" required>
            </div>
        </div>
        <h3>Avem nevoie de greutate, intaltime si marimea folosita la incaltaminte pentru a alege marimile potrivite in ceea ce priveste echipamentul.</h3>
        <h3>In cazul in care comanda este pentru mai multe persoane, va rugam sa specificati inaltimea si greutatea pentru fiecare persoana, alaturi de numele echipamentului ales in sectiunea "Detalii optionale".</h3>
        <div class="field width">
            <label class="label">Greutate (in kilograme)</label>
            <div class="control">
            <input class="input is-info" [(ngModel)]="orderWeight" type="text" placeholder="70 kg" required>
            </div>
        </div>
        <div class="field width">
          <label class="label">Inaltime (in centimetri)</label>
          <div class="control">
          <input class="input is-info" [(ngModel)]="orderHeight" type="text" placeholder="184 cm" required>
          </div>
        </div>
        <div class="field width">
          <label class="label">Marime incaltaminte</label>
          <div class="control">
          <input class="input is-info" [(ngModel)]="orderSize" type="text" placeholder="42.5" required>
          </div>
        </div>
        <h3>In aceasta sectiune puteti adauga diverse detalii referitoare la comanda. (precum marimea exacta a echipamentului dorit)</h3>
        <div class="field width">
            <label class="label">Detalii optionale</label>
            <div class="control">
            <textarea class="textarea is-info" [(ngModel)]="orderRemarks" placeholder="Detalii optionale despre comanda" required></textarea>
            </div>
        </div>
        <div>
          <label class="label">De la data de: </label>
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [(ngModel)]="orderFromDate" [matDatepicker]="fromPicker">
            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
            <mat-datepicker #fromPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <label class="label">Pana la data de: </label>
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [(ngModel)]="orderToDate" [matDatepicker]="toPicker">
            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
            <mat-datepicker #toPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <br/>
        <h2 class="title has-text-weight-bold color">
            Ce vom face cu datele personale?
        </h2>
        <h3 class = "width">
          Datele personale oferite mai sus vor fi colectate si procesate prin intermediul magazinului nostru online pentru: emiterea facturii fiscale, a certificatelor de garantie, informari telefonice sau prin e-mail sau SMS cu referire la comanda si livrarea comenzii.
        </h3>
        <button class="button is-link is-large"
                onclick="document.getElementById('popUp').style.display='block'"
                [disabled]="!orderName || !orderSurname || !orderEmail || !orderPhoneNumber || !orderSize || !orderRemarks || !orderFromDate || !orderToDate"
                (click)="numberOfDays(orderFromDate, orderToDate)"
                (click)="deleteAllProducts()"
                (click)="createOrder(products, orderName, orderSurname, orderEmail, orderPhoneNumber, orderWeight, orderHeight, orderSize, orderRemarks, orderFromDate, orderToDate)"
                >Plaseaza comanda</button>
        </div>
    </div>
</section>
<app-footer></app-footer>

<div id="popUp" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"></p>
      <button class="delete" aria-label="close" routerLink=""></button>
    </header>
    <section class="modal-card-body">
      <p class="title">Plata a fost realizata cu succes!</p>
      <p class="title">TOTAL ACHITAT: {{getTotalPrice()}} RON</p>
      <section class="hero is-warning is-small">
        <p style="margin-top: 10px;" *ngIf="daysDifference > 3" class="title">DISCOUNT 20% APLICAT</p>
      </section>
      <br/>
      <p class="subtitle">Multumim si speram sa te bucuri de serviciile noastre!</p>
      <p class="subtitle">In cel mai scurt timp te vom contacta telefonic pentru confirmarea comenzii.</p>
    </section>
    <footer class="modal-card-foot">
    </footer>
  </div>
</div>
