<app-header></app-header>
<app-filter (emitSelectedFilter)="receiveCategory($event)"></app-filter>
<div class="flex">
    <app-product [selectedCategoryId]="categoryId"></app-product>
    <!-- <app-tools></app-tools> -->
</div>
<app-footer></app-footer>
