.card {
  width: 300px;
  height: 440px;
  margin: 15px;
}

.cards-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  width: 180px;
  height: 150px;
  margin-right: 16px;
}

.title {
  color: gray;
  font-family: "Oxygen";
  font-weight: bold;
  font-size: 17px;
}

.subtitle {
  color: black;
  font-family: "Oxygen";
  font-weight: bold;
  font-size: 23px;
}

.button-size {
  width: 250px;
  height: 40px;
}

.modalPosition {
  position: absolute;
  left: 200px;
  bottom: 145px;
}

.absPos {
  position: absolute;
  bottom: 20px;
}
