  <section class="hero">
    <div style="margin-left:110px;" class="hero-body cards-flex">
      <div *ngFor="let product of products; let i = index">
        <div class="card">
          <div class="card-image">
              <figure class="image is-4by3">
                <img onclick="document.getElementById('imagePopUp').style.display='block'" (click)="saveProductInfo(product.productName, product.image, product.price)" [src]="product.image">
              </figure>
            </div>
            <div class="card-content background">
              <div class="media">
                <div class="media-content">
                  <p class="title">{{ product.productName | uppercase }}</p>
                </div>
            </div>
            <div class="absPos">
                <p class="subtitle">{{ product.price }} RON / Zi</p>
                <div style="text-align:center;">
                      <button
                      (click)="addProductInShoppingCart(product)"
                      (click)="saveProductInfo(product.productName, product.image, product.price)"
                      class="button is-info button-size"
                      onclick="document.getElementById('popUp').style.display='block'" 
                    ><mat-icon>shopping_cart</mat-icon><strong>Adauga in cos</strong></button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<div id="popUp" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title"></p>
        <button class="delete" aria-label="close" onClick="window.location.reload()"></button>
      </header>
      <section class="modal-card-body">
        <p class="subtitle">Produsul a fost adaugat in cosul de cumparaturi!</p>
        <div>
          <img src={{image}}>
          <div class="modalPosition">
            <p class="title is-2">{{name}}</p>
            <p class="subtitle is-2">{{price}} RON / ZI</p>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-info" routerLink="shopping-cart">Vezi detalii cos</button>
      </footer>
    </div>
</div>

<div id="imagePopUp" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img src={{image}}>
    </p>
  </div>
  <button class="modal-close is-large" onClick="window.location.reload()" aria-label="close"></button>
</div>