.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .filter-div {
    margin: 10px;
  }
}

button {
  background-color: olivedrab;
  color: white;
  font-weight: bolder;
}
