<div class="filter-container">
    <div *ngFor="let category of categories" class="filter-div">
      <button (click)="selectFilter(category.id)" class="button is-info is-outlined is-rounded">{{ category.name | uppercase }}</button>
    </div>
  </div>
  