<app-header></app-header>
<section class="section is-medium has-text-left">
    <h1 class="title is-size-2 has-text-weight-bold">DESPRE NOI</h1>
    <progress class="progress is-link is-small" value=100 max="100"></progress>
    <h2 class="subtitle">
        Suntem de parere ca SKIFY e destinat celor ca noi, celor care apreciaza stratul proaspat de zapada intr-o dimineata senina de iarna, celor care reusesc sa treaca peste fiecare cazatura si se bucura de magia sportului, celor care isi inving teama si pompeaza mai tare cand se apropie de kicker…e mai mult decat o incapere cu patru pereti si ceva echipament ordonat.
    </h2>
    <h2 class="subtitle">
        Pentru noi, acesta e locul unde ne depanam povestile despre iesirea de la sfarsitul saptamanii trecute, unde ne adunam sa ne sarbatorim cum se cuvine bucuriile vietii si unde putem sa ne asiguram echipamentul pe care-l dorim la urmatoarea iesire.
    </h2>
    <h2 class="subtitle">
        Daca apreciezi cele de mai sus, cu siguranta esti de-al nostru.
    </h2>
    <h2 class="subtitle">
        Nu numai o data am fost pusi in fata cautarii echipamentului potrivit. Nu numai o data a trebuit sa calcam pragul unei sume de shop-uri pentru a gasi tot ceea ce ne doream. Nu numai o data am constatat ca toata treaba asta consuma foarte mult timp. Timp in care am fi putut sa ne bucuram de respectivul echipament…
    </h2>
    <h2 class="subtitle">
        SKIFY s-a nascut din dorinta de a oferi posibilitatea inchirierii echipamentului dorit, oricand, chiar de la tine de acasa.
    </h2>
    <h2 class="subtitle">
        Astfel, ne dorim sa oferim o selectie atenta de brand-uri si produse de cea mai buna calitate, la cele mai bune preturi. Fie ca e vorba de snowboard, ski, protectii sau imbracaminte.
    </h2>
    <h2 class="subtitle">
        Ce mai astepti?
    </h2>
    <br/>
    <br/>
    <h1 class="subtitle has-text-weight-bold">
        RENT. GO RIDE. HAVE FUN.
    </h1>
</section>
<app-footer></app-footer>
